header {
    background: #bbbbbb;
    padding: 20px 0;
}

.caixa {
    position: relative;
    width: 940px;
    margin: 0 auto;
}
 
.logo-pagina {
    width: 500px;
    height: 220px;
}

nav {
    position: absolute;
    top: 110px;
    right: 0;
}

nav li{
    display: inline;
    margin-left: 15px;
}

nav a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;  
}

nav a:hover{
    color: #c78c19;
    text-decoration: underline;
}

.principal {
    width: 940px;
    margin: 0 auto;
    padding: 20px;
}

h2 {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin: 10px 0;
}

.titulo-centralizado {
    font-size: 16px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    line-height: normal;
}

#missao {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 16px;
    line-height: normal;
}

.itens {
    font-style: italic;
}

.beneficios {
    background: #ffffff;
    padding: 20px;
}

.beneficios .titulo-centralizado {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin: 10px 0;
}

.beneficios ul {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

.imagemBeneficios {
    width: 50%;
    height: 460px;
}